
#wrapper {float:left; width:750px;}
#content {width:750px;}
#header {width:750px; position:absolute;}
#debug-info {float:left; clear:both; position:absolute; top:650px;}

/*Collection List Page*/
#collection-list-name {width:420px; margin-left:auto; margin-right:auto; text-align:center;}
#collection-level-grid {width:420px; list-style:none; margin:0; padding:0; border:3px solid #3B5998; margin-left:auto; margin-right:auto; text-align:center;}
#collection-level-grid li {display:inline-block; width:100px; height:100px; position:relative;}
#collection-level-grid li a.number {width:80px; height:80px; border:1px solid black; float:left; margin:10px; text-align:center; vertical-align:middle; line-height:80px;font-size:30px;font-weight:bold; color:black; text-decoration:none; background-color:white;}
#collection-level-grid li a.number:hover {background-color:#89b0f8;}
#collection-level-grid li span.star {width:35px; height:35px; float:left; position:absolute; right:0px;}
#collection-level-grid li span.star.completed {background-image:url('../imgs/shared/star-badge.png'); background-repeat:no-repeat; background-position:center;}
#collection-back {position:absolute;}
#collection-back img {border:0;}

/* ROUND CORNERS */
.round {-moz-border-radius:10px; -webkit-border-radius:10px; border-radius:10px;}

/*POPUP*/
#popup-background {display:none; position:fixed; _position:absolute; /* hack for internet explorer 6*/ height:100%; width:100%; top:0; left:0; background:#000000; border:1px solid #cecece; z-index:100;}
#popup-window {display:none; position:fixed; _position:absolute; /* hack for internet explorer 6*/ width:408px; background:#FFFFFF; border:2px solid #cecece; z-index:200; padding:12px;}
#popup-close-button {float:right; width:40px; height:40px; background-image:url('../imgs/shared/cancel.png');right:6px; top:4px; position:absolute; margin:0; cursor:pointer;}
#popup-content h1{text-align:left; color:#333; font-size:25px; border-bottom:1px dotted #D3D3D3; padding-bottom:7px; margin-top:0px; margin-bottom:0px;}
#score-tally-popup {display:none;}

#popup-window .popup-button-row form.button_to {display:inline;}
#popup-window .popup-button-row form.button_to div {display:inline;}

#alert-popup {text-align:center;}
#alert-popup .popup-button-row input {width:100px;}

/*SCORE TALLY*/
#tally .t ally-detail-value {display:none;}
#tally #ta lly-score-value {display:none;}
#next-action-buttons {text-align:center;}
#next-action-buttons img {border:0;}
#next-action-buttons a {margin-left:20px; margin-right:20px;}
#honors p {font-size:large; font-weight:bold; height:40px; line-height:46px; padding:0; margin:0;}
#honors p.honor-msg {background-image:url('../imgs/shared/honor.png'); background-repeat:no-repeat; background-position:center left; padding-left:45px;}
#tally #tally-score {width:150px; text-align:center; padding-left:35px;}
#tally #tally-score-value {font-size:50px; margin:0;}
#tally #tally-score-label {margin:0; font-size:small;  color:#666;}
#tally #tally-score-details p {margin:4px 0; font-size:90%;}
#tally #tally-score-details .tally-detail-label {color:#666; width:85px; float:left; text-align:right; padding-right:10px;}
#tally #tally-score-details .tally-detail-value {font-weight:bold;}

/*USER NAV AREA*/
#user-navigation {float:right; margin:0; padding:0; list-style:none;}
#user-navigation li {float:left; margin:0; padding:0;}

/*USER COINS */
#user-coins {position:absolute; right:0px; padding:3px;}
#user-coins img {vertical-align:middle;}
#user-coins #user-coins-current {text-align:right; font-size:25px; padding-top:10px; position:relative; top:6px; font-family:sans-serif;}
#user-coins a {text-decoration:none; color:black;}
#user-coins #user-coins-manage-coins {font-size:12px; color:blue; float:right; width:100%; text-align:center; padding-top:3px;}

/*COIN FLOAT MESSAGE*/
#coin-float-message {z-index:1000; display:none; float:left; position:fixed; border:3px dotted #ccc; background-color:#e4e4e4; font-size:150%; padding:10px; font-family:sans-serif; background-image:url('../imgs/shared/coin_green.png'); background-repeat:no-repeat; background-position:center left; padding-left:40px}

/*TABLE SORT*/
table.tablesorter {
    font-family:arial;
    background-color: #CDCDCD;
    margin:10px 0pt 15px;
    font-size: 8pt;
    width: 100%;
    text-align: left;
}
table.tablesorter thead tr th, table.tablesorter tfoot tr th {
    background-color: #e6EEEE;
    border: 1px solid #FFF;
    font-size: 8pt;
    padding: 4px;
}
table.tablesorter thead tr .header {
    background-image: url('../imgs/shared/tablesorter/bg.gif');
    background-repeat: no-repeat;
    background-position: center right;
    cursor: pointer;
}
table.tablesorter tbody td {
    color: #3D3D3D;
    padding: 4px;
    background-color: #FFF;
    vertical-align: top;
}
table.tablesorter tbody tr.odd td {
    background-color:#F0F0F6;
}
table.tablesorter thead tr .headerSortUp {
    background-image: url('../imgs/shared/tablesorter/asc.gif');
}
table.tablesorter thead tr .headerSortDown {
    background-image: url('../imgs/shared/tablesorter/desc.gif');
}
table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
    background-color: #8dbdd8;
}
#pager {margin-top:10px;}

/*DROP SHADOW EFFECT*/
.drop-shadow {
    -moz-box-shadow: 3px 3px 4px #000;
    -webkit-box-shadow: 3px 3px 4px #000;
    box-shadow: 3px 3px 4px #000;
    /* For IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000')";
    /* For IE 5.5 - 7 */
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000');
}

/*DIALOGS*/
.dialog-no-title .ui-dialog-titlebar {display:none;}
.dialog-no-close .ui-dialog-titlebar-close {display:none;}

/*Level Factory*/
#factory-mode-wrapper {border:1px solid #ccc;padding:5px; margin-bottom:10px; font-size:12px;}
#factory-mode-wrapper p {margin:0;}
#factory-mode-wrapper label {font-weight:bold;}
#factory-edit-controls .form-field {float:left; clear:left; padding-bottom:10px;}
#factory-edit-controls .form-field label {font-weight:bold; float:left; font-size:12px;}
#factory-edit-controls .form-field input, #factory-edit-controls .form-field textarea {clear:left; float:left; width:200px;}
#factory-edit-controls .form-field #grid-size {float:left; clear:left;}
#factory-edit-controls #add-game-pieces {background-color:white; float:left; clear:left; border:1px solid #ccc; padding:5px; font-size:12px; height:250px; overflow:scroll}
#factory-edit-controls #add-game-pieces p {cursor:pointer; padding:5px; margin-top:0; margin-bottom:3px; float:left; width:90%}
#factory-edit-controls #add-game-pieces p span.add-game-piece-img {width:59px; height:59px; float:left; margin-right:10px;background-image:url('../imgs/table-8/sprite.png');}
#factory-edit-controls #add-game-pieces p.goal span.add-game-piece-img {background-image:url('../imgs/table-8/goal-blue.gif');}
#factory-edit-controls #add-game-pieces p.teleport span.add-game-piece-img {background-image:url('../imgs/table-8/teleport-blue.gif');}
#factory-edit-controls #add-game-pieces p.falling span.add-game-piece-img {background-position:0px -177px;}
#factory-edit-controls #add-game-pieces p.floating span.add-game-piece-img {background-position:0px -295px;}
#factory-edit-controls #add-game-pieces p.bomb span.add-game-piece-img {background-position:0px 0px;}
#factory-edit-controls #add-game-pieces p.coin span.add-game-piece-img {background-position:-59px -118px;}
#factory-edit-controls #add-game-pieces p.paint span.add-game-piece-img {background-position:0px -413px;}
#factory-edit-controls #add-game-pieces p.magnet span.add-game-piece-img {background-position:-236px -118px;}
#factory-edit-controls #add-game-pieces p.gravity-swap span.add-game-piece-img {background-position:-354px -118px;}
#factory-edit-controls #add-game-pieces p.fixed span.add-game-piece-img {background-position:-295px -118px;}
#factory-edit-controls #save-level-buttons {float:left; clear:left; margin-top: 10px;}
#factory-edit-controls #level-publish-wrapper {float:right; margin-top: 10px;}
#factory-edit-controls #add-game-pieces p.disabled {position:relative;}
#factory-edit-controls #add-game-pieces p.disabled span.level-disabled-coin {position: absolute; left:5px; top:5px; width:30px; height:30px; float:left; background-image:url('../imgs/shared/coin_green.png'); background-repeat:no-repeat; background-position:bottom-right}
#factory-edit-controls #add-game-pieces p.disabled span.level-disabled {position:absolute; left:0; top:0; float:left; width:100%; height:100%; background-color:#fff; border:1px dashed #666;}
#factory-edit-controls #add-game-pieces p.disabled span.level-element-description {z-index:10; position:relative;}

.transparent-75 {
    /* IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
    /* IE 5-7 */
    filter: alpha(opacity=75);
    /* Netscape */
    -moz-opacity: 0.75;
    /* Safari 1.x */
    -khtml-opacity: 0.75;
    /* Good browsers */
    opacity: 0.75;
}

