
table.board-grid {width:500px; height:500px; border-collapse:collapse;}
table.board-grid td.square {border:1px dashed #999; width:25%; height:25%;}
#board-wrapper {position:relative; clear:left;}
.game-board {position:absolute;}


#game-pieces div {width:90px; height:90px; float:left; position:absolute; margin:1px; background-image:url('../imgs/table-4/sprite.png'); background-repeat:no-repeat;}
#game-pieces .game-piece {z-index:5;}
#game-pieces .station {z-index:1;}
#game-pieces .station {background-color:transparent;}
#game-pieces .paint {z-index:1;}
#game-pieces .goal {z-index:1; background-color:transparent;}

/*Level Page*/
#nav {float:left; width:500px;}
#nav #counter-clock-wise {width:40px; height:40px; float:left; background-image:url('../imgs/shared/counterclockwise.png'); cursor:pointer;}
#nav #clock-wise {width:40px; height:40px; float:left; background-image:url('../imgs/shared/clockwise.png'); cursor:pointer;}
#nav #reload-level {width:40px; height:40px; float:right;}
#nav #reload-level img {border:0;}
#nav #cancel-level {width:40px; height:40px; float:right;}
#nav #cancel-level img {border:0;}
#nav #level-popup {width:40px; height:40px; float:right; background-image:url('../imgs/shared/info.png'); cursor:pointer; margin-right:3px;}

#level-info {float:right; width:210px; padding:10px; border:1px solid black; background-color:#e9e9e9}
#level-info #level-collection-name {margin:0; text-align:center; font-size:small; font-weight:bold;}
#level-info h3 {margin-top:0; text-align:center;}
#level-info #user-current-stats {border-bottom:1px dotted #999; padding-bottom:10px;}
#level-info #user-current-stats .top-score {border:3px double #999; font-size:40px; margin:0; float:left; width:100px; text-align:center; padding:0; margin-left:50px;}
#level-info #user-current-stats .score-note {clear:left; text-align:center; font-weight:bold; color:#666;}
#level-info table {width:150px; margin:0 auto; clear:left;}
#level-info .stat-title {text-align:right; width:50%; padding-right:10px; color:#666;}
#level-info .stat-value {width:50%;}
#level-info #user-level-stats {font-size:75%;}
#level-info #level-stats {font-size:75%;}
#level-info h4 {text-align:center; margin-bottom:0;}
#level-info #user-level-stats .top-score {text-align:center; margin:0; font-weight:bold;}
#level-info #level-stats .top-score {text-align:center; margin:0; font-weight:bold;}
#level-info p.bold {text-align:center;}

