table.board-grid td.square {width:16%; height:16%;}
#game-pieces div {width:80px; height:80px; background-image:url('../imgs/table-6/sprite.png');}

/*GOALS*/
#game-pieces .goal.red {background-image:url('../imgs/table-6/goal-red.gif');}
#game-pieces .goal.yellow {background-image:url('../imgs/table-6/goal-yellow.gif');}
#game-pieces .goal.green {background-image:url('../imgs/table-6/goal-green.gif');}
#game-pieces .goal.purple {background-image:url('../imgs/table-6/goal-purple.gif');}
#game-pieces .goal.blue {background-image:url('../imgs/table-6/goal-blue.gif');}
#game-pieces .goal.orange {background-image:url('../imgs/table-6/goal-orange.gif');}

/*TELEPORTS*/
#game-pieces .teleport.red {background-image:url('../imgs/table-6/teleport-red.gif');}
#game-pieces .teleport.yellow {background-image:url('../imgs/table-6/teleport-yellow.gif');}
#game-pieces .teleport.green {background-image:url('../imgs/table-6/teleport-green.gif');}
#game-pieces .teleport.purple {background-image:url('../imgs/table-6/teleport-purple.gif');}
#game-pieces .teleport.blue {background-image:url('../imgs/table-6/teleport-blue.gif');}
#game-pieces .teleport.orange {background-image:url('../imgs/table-6/teleport-orange.gif');}

/*FALLING*/
#game-pieces .falling.blue {background-position:0px -240px;}
#game-pieces .falling.green {background-position:-80px -240px;}
#game-pieces .falling.orange {background-position:-160px -240px;}
#game-pieces .falling.purple {background-position:-240px -240px;}
#game-pieces .falling.red {background-position:-320px -240px;}
#game-pieces .falling.yellow {background-position:-400px -240px;}

/*FLOATING*/
#game-pieces .floating.blue {background-position:0px -400px;}
#game-pieces .floating.green {background-position:-80px -400px;}
#game-pieces .floating.orange {background-position:-160px -400px;}
#game-pieces .floating.purple {background-position:-240px -400px;}
#game-pieces .floating.red {background-position:-320px -400px;}
#game-pieces .floating.yellow {background-position:-400px -400px;}

/*LOCKED*/
#game-pieces .falling.locked.blue {background-position:0px -320px;}
#game-pieces .falling.locked.green {background-position:-80px -320px;}
#game-pieces .falling.locked.orange {background-position:-160px -320px;}
#game-pieces .falling.locked.purple {background-position:-240px -320px;}
#game-pieces .falling.locked.red {background-position:-320px -320px;}
#game-pieces .falling.locked.yellow {background-position:-400px -320px;}
#game-pieces .floating.locked.blue {background-position:0px -480px;}
#game-pieces .floating.locked.green {background-position:-80px -480px;}
#game-pieces .floating.locked.orange {background-position:-160px -480px;}
#game-pieces .floating.locked.purple {background-position:-240px -480px;}
#game-pieces .floating.locked.red {background-position:-320px -480px;}
#game-pieces .floating.locked.yellow {background-position:-400px -480px;}

/*BOMBS*/
#game-pieces .bomb.blue {background-position:0px 0px;}
#game-pieces .bomb.green {background-position:-80px 0px;}
#game-pieces .bomb.orange {background-position:-160px 0px;}
#game-pieces .bomb.purple {background-position:-240px 0px;}
#game-pieces .bomb.red {background-position:-320px 0px;}
#game-pieces .bomb.yellow {background-position:-400px 0px;}
#game-pieces .bomb.flashing.blue {background-position:0px -80px;}
#game-pieces .bomb.flashing.green {background-position:-80px -80px;}
#game-pieces .bomb.flashing.orange {background-position:-160px -80px;}
#game-pieces .bomb.flashing.purple {background-position:-240px -80px;}
#game-pieces .bomb.flashing.red {background-position:-320px -80px;}
#game-pieces .bomb.flashing.yellow {background-position:-400px -80px;}

/*COINS*/
#game-pieces .coin.blue {background-position:0px -160px;}
#game-pieces .coin.green {background-position:-80px -160px;}
#game-pieces .coin.red {background-position:-160px -160px;}
#game-pieces .coin.yellow {background-position:-240px -160px;}

/*PAINT*/
#game-pieces .paint.blue {background-position:0px -560px;}
#game-pieces .paint.green {background-position:-80px -560px;}
#game-pieces .paint.orange {background-position:-160px -560px;}
#game-pieces .paint.purple {background-position:-240px -560px;}
#game-pieces .paint.red {background-position:-320px -560px;}
#game-pieces .paint.yellow {background-position:-400px -560px;}

/*MAGNETS*/
#game-pieces .magnet {background-position:-320px -160px;}
#game-pieces .falling.magnetized.blue {background-position:0px -640px;}
#game-pieces .falling.magnetized.green {background-position:-80px -640px;}
#game-pieces .falling.magnetized.orange {background-position:-160px -640px;}
#game-pieces .falling.magnetized.purple {background-position:-240px -640px;}
#game-pieces .falling.magnetized.red {background-position:-320px -640px;}
#game-pieces .falling.magnetized.yellow {background-position:-400px -640px;}
#game-pieces .floating.magnetized.blue {background-position:0px -720px;}
#game-pieces .floating.magnetized.green {background-position:-80px -720px;}
#game-pieces .floating.magnetized.orange {background-position:-160px -720px;}
#game-pieces .floating.magnetized.purple {background-position:-240px -720px;}
#game-pieces .floating.magnetized.red {background-position:-320px -720px;}
#game-pieces .floating.magnetized.yellow {background-position:-400px -720px;}

/*GRAVITY-SWAP*/
#game-pieces .gravity-swap {background-position:-480px -160px;}


/*FIXED*/
#game-pieces .fixed {background-position:-400px -160px;}