%div.col-xs-4.col-xs-offset-4
  %ul.nav.nav-tabs{:role => 'tablist'}
    %li.active
      %a{:href => '#change-password-tab', :role => 'tab', "data-toggle" => 'tab'} Change Password
  %div.tab-content#login-signup-tabs
    %div.tab-pane.active#change-password-tab
      = form_tag(change_password_post_path,{:class => 'form-signin', :role => 'form'}) do
        = password_field_tag "current_password", nil, {:class => 'form-control', :placeholder => 'Current Password', :required => 'required', :autofocus => 'autofocus'}
        = password_field_tag "new_password]", nil, {:class => 'form-control', :placeholder => 'New Password', :required => 'required'}
        = password_field_tag "new_password_confirmation]", nil, {:class => 'form-control', :placeholder => 'Confirm New Password', :required => 'required'}
        %button.btn.btn-lg.btn-primary.btn-block{:type => 'Create Account'} Change Password